<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<l7:Service xmlns:l7="http://ns.l7tech.com/2010/04/gateway-management">
    <!-- 0000000000000000ffffffffffffec76 ROOT folder directory !-->
    <l7:ServiceDetail folderId="0000000000000000ffffffffffffec76">
        <l7:Name>{{ msso_config_service.name }}</l7:Name>
        <l7:Enabled>true</l7:Enabled>
        <l7:ServiceMappings>
            <l7:HttpMapping>
                <l7:UrlPattern>{{ msso_config_service.url }}</l7:UrlPattern>
                <l7:Verbs>
                    <l7:Verb>GET</l7:Verb>
                </l7:Verbs>
            </l7:HttpMapping>
        </l7:ServiceMappings>
    </l7:ServiceDetail>
    <l7:Resources>
        <l7:ResourceSet tag="policy">
            <l7:Resource type="policy">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;wsp:Policy xmlns:L7p=&quot;http://www.layer7tech.com/ws/policy&quot; xmlns:wsp=&quot;http://schemas.xmlsoap.org/ws/2002/12/policy&quot;&gt;
    &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
        &lt;L7p:CustomizeErrorResponse&gt;
            &lt;L7p:Content stringValue=&quot;${error.msg}&quot;/&gt;
            &lt;L7p:ContentType stringValue=&quot;${content-type}&quot;/&gt;
            &lt;L7p:ExtraHeaders nameValuePairArray=&quot;included&quot;&gt;
                &lt;L7p:item nameValuePair=&quot;included&quot;&gt;
                    &lt;L7p:Key stringValue=&quot;Cache-Control&quot;/&gt;
                    &lt;L7p:Value stringValue=&quot;no-store&quot;/&gt;
                &lt;/L7p:item&gt;
                &lt;L7p:item nameValuePair=&quot;included&quot;&gt;
                    &lt;L7p:Key stringValue=&quot;Pragma&quot;/&gt;
                    &lt;L7p:Value stringValue=&quot;no-cache&quot;/&gt;
                &lt;/L7p:item&gt;
            &lt;/L7p:ExtraHeaders&gt;
            &lt;L7p:HttpStatus stringValue=&quot;${status}&quot;/&gt;
        &lt;/L7p:CustomizeErrorResponse&gt;
        &lt;L7p:Encapsulated&gt;
            &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;b8822449-71ff-455b-8f10-39122e6c549b&quot;/&gt;
            &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK HTTP Method Validation&quot;/&gt;
            &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                &lt;L7p:entry&gt;
                    &lt;L7p:key stringValue=&quot;method&quot;/&gt;
                    &lt;L7p:value stringValue=&quot;POST|GET&quot;/&gt;
                &lt;/L7p:entry&gt;
            &lt;/L7p:Parameters&gt;
        &lt;/L7p:Encapsulated&gt;
        &lt;L7p:CustomizeErrorResponse&gt;
            &lt;L7p:Content stringValue=&quot;${error.msg}&quot;/&gt;
            &lt;L7p:ContentType stringValue=&quot;${content-type}&quot;/&gt;
            &lt;L7p:ExtraHeaders nameValuePairArray=&quot;included&quot;&gt;
                &lt;L7p:item nameValuePair=&quot;included&quot;&gt;
                    &lt;L7p:Key stringValue=&quot;x-ca-err&quot;/&gt;
                    &lt;L7p:Value stringValue=&quot;3005${error.code}&quot;/&gt;
                &lt;/L7p:item&gt;
                &lt;L7p:item nameValuePair=&quot;included&quot;&gt;
                    &lt;L7p:Key stringValue=&quot;Cache-Control&quot;/&gt;
                    &lt;L7p:Value stringValue=&quot;no-store&quot;/&gt;
                &lt;/L7p:item&gt;
                &lt;L7p:item nameValuePair=&quot;included&quot;&gt;
                    &lt;L7p:Key stringValue=&quot;Pragma&quot;/&gt;
                    &lt;L7p:Value stringValue=&quot;no-cache&quot;/&gt;
                &lt;/L7p:item&gt;
            &lt;/L7p:ExtraHeaders&gt;
            &lt;L7p:HttpStatus stringValue=&quot;${status}&quot;/&gt;
        &lt;/L7p:CustomizeErrorResponse&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;NTAw&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;status&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;MDAw&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;error.code&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;eyAiZXJyb3IiOiJpbnZhbGlkX3JlcXVlc3QiLCAiZXJyb3JfZGVzY3JpcHRpb24iOiJUaGUgcmVxdWVzdCBmYWlsZWQgZHVlIHRvIGFuIHVua25vd24gcmVhc29uIiB9&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;error.msg&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;YXBwbGljYXRpb24vanNvbjtjaGFyc2V0PVVURi04&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;content-type&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
        &lt;/wsp:All&gt;
        &lt;L7p:Encapsulated&gt;
            &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;47f768f4-b478-472b-a1ee-10f4b6e76f99&quot;/&gt;
            &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK Require SSL (with Client Certificate)&quot;/&gt;
            &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                &lt;L7p:entry&gt;
                    &lt;L7p:key stringValue=&quot;apiPrefix&quot;/&gt;
                    &lt;L7p:value stringValue=&quot;&quot;/&gt;
                &lt;/L7p:entry&gt;
                &lt;L7p:entry&gt;
                    &lt;L7p:key stringValue=&quot;requireClientCert&quot;/&gt;
                    &lt;L7p:value stringValue=&quot;false&quot;/&gt;
                &lt;/L7p:entry&gt;
            &lt;/L7p:Parameters&gt;
        &lt;/L7p:Encapsulated&gt;
        &lt;L7p:Encapsulated&gt;
            &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;2e6e2ef3-a36f-4548-a2c4-7b369b7ae184&quot;/&gt;
            &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK Variable Configuration&quot;/&gt;
        &lt;/L7p:Encapsulated&gt;
        &lt;wsp:OneOrMore wsp:Usage=&quot;Required&quot;&gt;
            &lt;wsp:OneOrMore wsp:Usage=&quot;Required&quot;&gt;
                &lt;L7p:ComparisonAssertion&gt;
                    &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                        &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;Anonymous&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;Allow anonymous access&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Properties&gt;
                    &lt;/L7p:AssertionComment&gt;
                    &lt;L7p:CaseSensitive booleanValue=&quot;false&quot;/&gt;
                    &lt;L7p:Expression1 stringValue=&quot;${enable_anonymous_client_export}&quot;/&gt;
                    &lt;L7p:Expression2 stringValue=&quot;true&quot;/&gt;
                    &lt;L7p:Predicates predicates=&quot;included&quot;&gt;
                        &lt;L7p:item binary=&quot;included&quot;&gt;
                            &lt;L7p:CaseSensitive booleanValue=&quot;false&quot;/&gt;
                            &lt;L7p:RightValue stringValue=&quot;true&quot;/&gt;
                        &lt;/L7p:item&gt;
                    &lt;/L7p:Predicates&gt;
                &lt;/L7p:ComparisonAssertion&gt;
                &lt;L7p:Encapsulated&gt;
                    &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                        &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;Authenticated&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;Allow authenticated users access&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Properties&gt;
                    &lt;/L7p:AssertionComment&gt;
                    &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;27196c5d-a37a-4ee3-a24a-01615c2e1bb1&quot;/&gt;
                    &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK User Authentication&quot;/&gt;
                    &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;acrValuesRequested&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;authHeader&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;${request.http.header.authorization}&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;authIdToken&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;authSession&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;cookie&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;cookiename&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;oauth_token&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;oauth_verifier&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;password&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;provider&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;state&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;username&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Parameters&gt;
                &lt;/L7p:Encapsulated&gt;
                &lt;L7p:assertionComment&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Authenticate&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Allow anonymous or authenticated access&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:assertionComment&gt;
            &lt;/wsp:OneOrMore&gt;
            &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
                &lt;L7p:AddHeader&gt;
                    &lt;L7p:HeaderName stringValue=&quot;WWW-Authenticate&quot;/&gt;
                    &lt;L7p:HeaderValue stringValue=&quot;Basic error=&amp;quot;Invalid or missing credentials&amp;quot;&quot;/&gt;
                    &lt;L7p:Target target=&quot;RESPONSE&quot;/&gt;
                &lt;/L7p:AddHeader&gt;
                &lt;L7p:Encapsulated&gt;
                    &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                        &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;202&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Properties&gt;
                    &lt;/L7p:AssertionComment&gt;
                    &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;56bd8147-3ab4-4d09-9460-8b2de02b7a9e&quot;/&gt;
                    &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK fail with error message&quot;/&gt;
                    &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;apiPrefix&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;givenErrorCode&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;${error.code}&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Parameters&gt;
                &lt;/L7p:Encapsulated&gt;
                &lt;L7p:assertionComment&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Fail&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Create the error response&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:assertionComment&gt;
            &lt;/wsp:All&gt;
        &lt;/wsp:OneOrMore&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;wsp:OneOrMore wsp:Usage=&quot;Required&quot;&gt;
                &lt;L7p:ComparisonAssertion&gt;
                    &lt;L7p:Expression1 stringValue=&quot;${request.http.parameter.client_id}&quot;/&gt;
                    &lt;L7p:Expression2 stringValue=&quot;&quot;/&gt;
                    &lt;L7p:Negate booleanValue=&quot;true&quot;/&gt;
                    &lt;L7p:Operator operator=&quot;EMPTY&quot;/&gt;
                    &lt;L7p:Predicates predicates=&quot;included&quot;&gt;
                        &lt;L7p:item binary=&quot;included&quot;&gt;
                            &lt;L7p:Negated booleanValue=&quot;true&quot;/&gt;
                            &lt;L7p:Operator operator=&quot;EMPTY&quot;/&gt;
                            &lt;L7p:RightValue stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:item&gt;
                    &lt;/L7p:Predicates&gt;
                &lt;/L7p:ComparisonAssertion&gt;
                &lt;L7p:Encapsulated&gt;
                    &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                        &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;103&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Properties&gt;
                    &lt;/L7p:AssertionComment&gt;
                    &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;56bd8147-3ab4-4d09-9460-8b2de02b7a9e&quot;/&gt;
                    &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK fail with error message&quot;/&gt;
                    &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;apiPrefix&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;givenErrorCode&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;103&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Parameters&gt;
                &lt;/L7p:Encapsulated&gt;
            &lt;/wsp:OneOrMore&gt;
            &lt;wsp:OneOrMore wsp:Usage=&quot;Required&quot;&gt;
                &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
                    &lt;L7p:Encapsulated&gt;
                        &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;290511a8-b775-47a7-98ab-7be386da2105&quot;/&gt;
                        &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK Client GET&quot;/&gt;
                        &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;client_ident&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;client_key&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;${request.http.parameter.client_id}&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;environment&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;filterStatus&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;format&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;name&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;operation&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;getAll&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;org&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;queryOffset&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;0&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;registered_by&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Parameters&gt;
                    &lt;/L7p:Encapsulated&gt;
                    &lt;L7p:Encapsulated&gt;
                        &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;2033a9ca-e7ca-4908-91aa-962e54b83dc4&quot;/&gt;
                        &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK Client Export&quot;/&gt;
                        &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;client_key&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;${request.http.parameter.client_id}&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;expose_client_secret&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;${expose_client_secret}&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;incoming_xml&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;resp&quot;/&gt;
                            &lt;/L7p:entry&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;resp&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;resp&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Parameters&gt;
                    &lt;/L7p:Encapsulated&gt;
                    &lt;L7p:HardcodedResponse&gt;
                        &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                            &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                                &lt;L7p:entry&gt;
                                    &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                    &lt;L7p:value stringValue=&quot;200&quot;/&gt;
                                &lt;/L7p:entry&gt;
                            &lt;/L7p:Properties&gt;
                        &lt;/L7p:AssertionComment&gt;
                        &lt;L7p:Base64ResponseBody stringValue=&quot;JHtyZXNwLm1haW5wYXJ0fQ==&quot;/&gt;
                        &lt;L7p:EarlyResponse booleanValue=&quot;true&quot;/&gt;
                        &lt;L7p:ResponseContentType stringValue=&quot;${content-type}&quot;/&gt;
                    &lt;/L7p:HardcodedResponse&gt;
                &lt;/wsp:All&gt;
                &lt;L7p:Encapsulated&gt;
                    &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                        &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                            &lt;L7p:entry&gt;
                                &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                                &lt;L7p:value stringValue=&quot;201,000&quot;/&gt;
                            &lt;/L7p:entry&gt;
                        &lt;/L7p:Properties&gt;
                    &lt;/L7p:AssertionComment&gt;
                    &lt;L7p:EncapsulatedAssertionConfigGuid stringValue=&quot;56bd8147-3ab4-4d09-9460-8b2de02b7a9e&quot;/&gt;
                    &lt;L7p:EncapsulatedAssertionConfigName stringValue=&quot;OTK fail with error message&quot;/&gt;
                    &lt;L7p:Parameters mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;apiPrefix&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;&quot;/&gt;
                        &lt;/L7p:entry&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;givenErrorCode&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;${error.code}&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Parameters&gt;
                &lt;/L7p:Encapsulated&gt;
                &lt;L7p:assertionComment&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Get client, export client, create response&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:assertionComment&gt;
            &lt;/wsp:OneOrMore&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Create&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Create the JSON response message&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
    &lt;/wsp:All&gt;
&lt;/wsp:Policy&gt;
            </l7:Resource>
        </l7:ResourceSet>
    </l7:Resources>
</l7:Service>
