<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
    <l7:Policy xmlns:l7="http://ns.l7tech.com/2010/04/gateway-management" guid="e64823db-25f0-462a-a226-44908c239fe6" id="e001cfd0c1c1ffaa18e187b5e72fd183" version="1">
        <l7:PolicyDetail folderId="e001cfd0c1c1ffaa18e187b5e72fc858" guid="e64823db-25f0-462a-a226-44908c239fe6" id="e001cfd0c1c1ffaa18e187b5e72fd183" version="1">
            <l7:Name>OTK Variable Configuration</l7:Name>
            <l7:PolicyType>Include</l7:PolicyType>
        </l7:PolicyDetail>
        <l7:Resources>
            <l7:ResourceSet tag="policy">
                <l7:Resource type="policy">
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;wsp:Policy xmlns:L7p=&quot;http://www.layer7tech.com/ws/policy&quot; xmlns:wsp=&quot;http://schemas.xmlsoap.org/ws/2002/12/policy&quot;&gt;
    &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
        &lt;L7p:CommentAssertion&gt;
            &lt;L7p:Comment stringValue=&quot;This policy can be found and should be used as 'Encapsulated Assertion'!&quot;/&gt;
        &lt;/L7p:CommentAssertion&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;TUFD&quot;/&gt;
                &lt;L7p:Enabled booleanValue=&quot;false&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_token_type&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;QkVBUkVS&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_token_type&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Server type&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Configure the type of token that should be issued. MAG supports 'BEARER' only&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;aHR0cHM6Ly9sb2NhbGhvc3Q6ODQ0Mw==&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;host_oauth2_auth_server&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2F1dGgvb2F1dGgvdjIvYXV0aG9yaXpl&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_auth_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2F1dGgvb2F1dGgvdjIvdG9rZW4=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_token_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2F1dGgvb2F1dGgvdjIvdG9rZW4vcmV2b2tl&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_token_revocation_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Server Auth Server&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Configure values related to the authorization server&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;Mi4wIChSRkMgNjc0OSk=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_version&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Modify this value if the authorization server website is hosted on a different server&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;aHR0cHM6Ly9sb2NhbGhvc3Q6ODQ0Mw==&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;host_oauth2_auth_template_server&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Modify this value if the authorization server website is hosted on a different path&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2F1dGgvb2F1dGgvdjIvYXV0aG9yaXplL3dlYnNpdGU=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_auth_template_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:CommentAssertion&gt;
                &lt;L7p:Comment stringValue=&quot;The values below most likely do not require modifications&quot;/&gt;
            &lt;/L7p:CommentAssertion&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;JHtob3N0X29hdXRoMl9hdXRoX3RlbXBsYXRlX3NlcnZlcn0ke29hdXRoMl9hdXRoX3RlbXBsYXRlX3BhdGh9&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;location_website_template&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;JHtob3N0X29hdXRoMl9hdXRoX3RlbXBsYXRlX3NlcnZlcn0ke3JlcXVlc3QuaHR0cC5xdWVyeX0=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;location_website_template_resources&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Server Auth Page&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Configure values related to the authorization server login - grant page&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;MTAw&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_client_max_fail_per_sec&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;MTAw&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_resource_owner_max_fail_per_sec&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;ROPC&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Configure values related to the ROPC grant type&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
        &lt;L7p:CommentAssertion&gt;
            &lt;L7p:Comment stringValue=&quot;Please review the values below and configure them to your needs&quot;/&gt;
        &lt;/L7p:CommentAssertion&gt;
        &lt;wsp:All wsp:Usage=&quot;Required&quot;&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Match the hostname that will be used by oauth clients&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;{{ cluster.host | b64encode }}&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_server_hostname&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Match the name of the cert that is used when SSL connections are made with oauth clients. The name has to match the value in 'Tasks - Manage Certificates'&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;{{ cluster.host | b64encode }}&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_server_certificate&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Match the port through which oauth clients connect&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;ODQ0Mw==&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_server_port&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:AssertionComment assertionComment=&quot;included&quot;&gt;
                    &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                        &lt;L7p:entry&gt;
                            &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                            &lt;L7p:value stringValue=&quot;Set the url prefix if a prefix has been used when these policies were installed&quot;/&gt;
                        &lt;/L7p:entry&gt;
                    &lt;/L7p:Properties&gt;
                &lt;/L7p:AssertionComment&gt;
                &lt;L7p:Base64Expression stringValue=&quot;&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;oauth2_server_url_prefix&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;ZmFsc2U=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;expose_client_secret&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;ZmFsc2U=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;enable_anonymous_client_export&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:CommentAssertion&gt;
                &lt;L7p:Comment stringValue=&quot;Modify the value below ONLY if the path has been modified&quot;/&gt;
            &lt;/L7p:CommentAssertion&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2Nvbm5lY3Qvc2Vzc2lvbi9sb2dvdXQ=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;usersession_logout_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L29wZW5pZC9jb25uZWN0L3YxL3VzZXJpbmZv&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;userinfo_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;L2Nvbm5lY3Qvc2Vzc2lvbi9zdGF0dXM=&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;usersession_status_path&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:CommentAssertion&gt;
                &lt;L7p:Comment stringValue=&quot;The content below will be added to the configuration export JSON message as is&quot;/&gt;
            &lt;/L7p:CommentAssertion&gt;
            &lt;L7p:SetVariable&gt;
                &lt;L7p:Base64Expression stringValue=&quot;Im9hdXRoX2RlbW9fcHJvdGVjdGVkX2FwaV9lbmRwb2ludF9wYXRoIjoiL29hdXRoL3YyL3Byb3RlY3RlZGFwaS9mb28iLA0KIm1hZ19kZW1vX3Byb2R1Y3RzX2VuZHBvaW50X3BhdGgiOiIvcHJvdGVjdGVkL3Jlc291cmNlL3Byb2R1Y3RzIg==&quot;/&gt;
                &lt;L7p:VariableToSet stringValue=&quot;export_custom&quot;/&gt;
            &lt;/L7p:SetVariable&gt;
            &lt;L7p:assertionComment&gt;
                &lt;L7p:Properties mapValue=&quot;included&quot;&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;LEFT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Export&quot;/&gt;
                    &lt;/L7p:entry&gt;
                    &lt;L7p:entry&gt;
                        &lt;L7p:key stringValue=&quot;RIGHT.COMMENT&quot;/&gt;
                        &lt;L7p:value stringValue=&quot;Configure values related to the OAuth Manager client_id export feature&quot;/&gt;
                    &lt;/L7p:entry&gt;
                &lt;/L7p:Properties&gt;
            &lt;/L7p:assertionComment&gt;
        &lt;/wsp:All&gt;
    &lt;/wsp:All&gt;
&lt;/wsp:Policy&gt;
        </l7:Resource>
            </l7:ResourceSet>
        </l7:Resources>
    </l7:Policy>
