---
## packages.yml
- name: Add the OS specific variables
  include_vars: "{{ ansible_os_family }}.yml"

#- name: install epel-release repositories
  #yum: name=epel-release state=present

- name: Install the system packages in Redhat derivatives
  # yum: name={{ item }} state=installed
  # with_items: "{{ packages }}"
  yum: name={{ packages }} state=installed
  when: ansible_os_family == 'RedHat'
