CREATE KEYSPACE IF NOT EXISTS mas_storage WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 };

// Basic entity table for a file_store
CREATE TABLE {{ mas_storage_database.schema }}.file_store (
   key varchar,			// key, defined by the developer - used later to retrieve the data
   content_type varchar,
   client_id varchar,
   org_id varchar,
   user_id varchar,
   created_date timestamp,
   last_updated_date timestamp,
   size int,
   value blob,
   PRIMARY KEY (org_id, client_id, user_id, key)
   );

// The client file store statistics
CREATE TABLE {{ mas_storage_database.schema }}.file_store_client_stats (
   org_id varchar,
   client_id varchar,
   size counter,
   PRIMARY KEY (org_id, client_id)
   );

// The user file store statistics
CREATE TABLE {{ mas_storage_database.schema }}.file_store_user_stats (
   org_id varchar,
   user_id varchar,
   size counter,
   PRIMARY KEY (org_id, user_id)
   );