create-db
#Headless config create-db answers file


### Configure Database Failover Connection ###
## Database Failover Hostname
database.failover.host={{ database.failover.host }}
## Database Failover Port
database.failover.port={{ database.failover.port }}


### Cluster Configuration ###
## Cluster Hostname
cluster.host={{ cluster.host }}
## Cluster Passphrase
cluster.pass={{ cluster.pass }}

### Database Connection ###
## Database Hostname
database.host={{ login_host }}
## Database Port
database.port={{ database.port }}
## Database Name
database.name={{ database.name }}
## Database Username
database.user={{ database.user }}
## Database Password
database.pass={{ database.pass }}
## Administrative Database Username
database.admin.user={{ database.admin.user }}
## Administrative Database Password
database.admin.pass={{ database.admin.pass }}

### SSM Administrative Account ###
## SSM Username
admin.user={{ admin.user }}
## SSM Password
admin.pass={{ admin.pass }}

### Node Configuration ###
## Node Enabled State
node.enable={{ node.enable }}
.
